<div class="detail-patient">
  <div class="detail-item">
    <span class="label">Prénom:</span>
    <span class="value">{{ user?.firstName }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Nom:</span>
    <span class="value">{{ user?.lastName }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Date de naissance:</span>
    <span class="value">{{ user?.birthDate }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Genre:</span>
    <span class="value">{{ user?.gender }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Adresse:</span>
    <span class="value">{{ user?.address }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Téléphone:</span>
    <span class="value">{{ user?.phoneNumber }}</span>
  </div>
  <div class="detail-item">
    <button routerlink="/form-update-patient">Mettre à jour les informations</button>
  </div>
</div>
<!--<div>
  <div>
    <label>ID:</label>
    <span>{{ user?.id }}</span>
  </div>
  <div>
    <label>First Name:</label>
    <input id="firstName" formControlName="firstName" />
  </div>
  <div>
    <label>Last Name:</label>
    <input id="lastName" formControlName="lastName" />
  </div>
  <div>
    <label>Birth Date:</label>
    <span>{{ user?.birthDate }}</span>
  </div>
  <div>
    <label>Gender:</label>
    <span>{{ user?.gender }}</span>
  </div>
  <div>
    <label>Address:</label>
    <span>{{ user?.address }}</span>
  </div>
  <div>
    <label>Phone Number:</label>
    <span>{{ user?.phoneNumber }}</span>
  </div>
  <button type="submit">Update</button>
</div>-->
